### Exercises: Module 5
module  Assignment for Python Programming for Data Science Fellowship of Arewa Data Science, Cohort 3.0.
By: FAISAL KHALID HASSAN

## List Exercise Level 1

In [ ]:
# Q1. Declare an empty list
empty_list = []

# Q2. Declare a list with more than 5 items
class_of_Degree = ['first_class', 'second_class_upper','second_class_lower', 'third_class', 'pass']

# Q3. Find the length of your list
length = len(class_of_Degree)
print(length)

# Q4. Get the first item, the middle item and the last item of the list
print(class_of_Degree[0])
print(class_of_Degree[2])
print(class_of_Degree[4])

# Q5. Declare a list called mixed_data_types, put your(name, age, height, marital status, address)
mixed_data_types = ['faisal', 26, 5.6, 'single', 'kano']

# Q6. Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

# Q7. Print the list using print()
print(it_companies)

# Q8. Print the number of companies in the list
print(len(it_companies))

# Q9. Print the first, middle and last company
print(it_companies[0])
print(it_companies[3])
print(it_companies[6])

# Q10. Print the list after modifying one of the companies
print(it_companies)

# Q11. Print the list after modifying one of the companies
it_companies.append('hauwei')
print(it_companies)

# Q12. Insert an IT company in the middle of the companies list
it_companies.insert(4, 'compaq')
print(it_companies)

# Q13. Change one of the it_companies names to uppercase (IBM excluded!)

for i in range(len(it_companies)):
    if it_companies[i]!= 'IBM':
        it_companies[i] = it_companies[i].upper()

print(it_companies)

# Q14. Join the it_companies with a string '#;  '
join_with_string = '#, '.join(it_companies)
print(join_with_string)

# Q15. Check if a certain company exists in the it_companies list.
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
does_exist = 'Facebook' in it_companies
print(does_exist)

# Q16. Sort the list using sort() method
it_companies.sort()
print(it_companies)

# Q17. Reverse the list in descending order using reverse() method
it_companies.reverse()
print(it_companies)

# Q18. Slice out the first 3 companies from the list
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
first_three = it_companies[0:3]
print(first_three)

# Q19. Slice out the last 3 companies from the list
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
last_three = it_companies[-3:]
print(last_three)

# Q20. Slice out the middle IT company or companies from the list
middle_company = it_companies[3]
print(middle_company)

# Q21. Remove the first IT company from the list
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
del it_companies[0]
print(it_companies)

# Q22. Remove the middle IT company or companies from the list
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
it_companies.pop(3)
print(it_companies)

# Q23. Remove the last IT company from the list
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
it_companies.pop(-1)
print(it_companies)

# Q24. Remove all IT companies from the list
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
it_companies.clear()
print(it_companies)

# Q25. Destroy the IT companies list
del it_companies

# Q26. Join the following lists:
# front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
# back_end = ['Node','Express', 'MongoDB']

front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
joining_the_list = front_end + back_end
print(joining_the_list)

# Q27. After joining the lists in question 26. Copy the joined list and assign it to a variable full_stack, then insert Python and SQL after Redux.
full_stack = ['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']
full_stack.insert(5, 'Python')
full_stack.insert(6, 'SQL')
print(full_stack)

### Exercises: Level 2

In [ ]:
# Q1. The following is a list of 10 students ages:
# ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

# Sort the list and find the min and max age
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
print(ages)
minimum_ages = min(ages)
print(minimum_ages)

maximum_ages = max(ages)
print(maximum_ages)

# Add the min age and the max age again to the list

ages.append(minimum_ages)
ages.append(maximum_ages)
print(ages)
ages.sort()
print(ages)

# Find the median age (one middle item or two middle items divided by two)
median_age = ((ages[5] + ages[6]) / 2)
print(median_age)

# Find the average age (sum of all items divided by their number)
average_age = sum(ages) / len(ages)
print(average_age)

# Find the range of the ages (max minus min)
range_of_the_ages = maximum_ages - minimum_ages
print(range_of_the_ages)

# Compare the value of (min - average) and (max - average), use abs() method
difference_min_average = abs(minimum_ages - average_age)
difference_max_average = abs(maximum_ages - average_age)
print(difference_min_average)
print(difference_max_average)

# 1. Find the middle country(ies) in the countries list
# since the number of the countries is odd

# Find the middle index
middle_index = len(countries) // 2

# Handle odd and even cases
if len(countries) % 2 == 1:  # Odd number of elements
    middle_country = countries[middle_index]
else:  # Even number of elements
    middle_country = (countries[middle_index - 1], countries[middle_index])  # Two middle countries

print("Middle country/countries:", middle_country)

# 2. Divide the countries list into two equal lists if it is even if not one more country for the first half.
split_index = (len(countries) + 1) // 2  # Add 1 to ensure the first half is larger for odd lengths
first_half = countries[:split_index]
second_half = countries[split_index:]

print("First half:", first_half)
print("Second half:", second_half)

# 3. ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']. Unpack the first three countries and the rest as scandic countries.
countries = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']
first_country, second_country, third_country, *rest = countries
print(first_country)
print(second_country)
print(third_country)
print("scandic countries:", rest)

## Tuple Exercises: Level 1

In [ ]:
# 1. Create an empty tuple
empty_tuple = ()

# 2. Create a tuple containing names of your sisters and your brothers (imaginary siblings are fine)
sisters = ('fatima', 'aisha', 'insaf')
brothers =  ('shuaib', 'khalid', 'hassan')

# 3. Join brothers and sisters tuples and assign it to siblings
siblings = sisters + brothers
print(siblings)

# 4. How many siblings do you have?
number_of_siblings = len(siblings)
print(number_of_siblings)

# 5. Modify the siblings tuple and add the name of your father and mother and assign it to family_members
parents = ('khalid', 'zaliha')
family_members = siblings + parents
print(family_members)

### Tuple Exercises: Level 2

In [ ]:
# 1. Unpack siblings and parents from family_members
a, b, c, d, e,f, *rest=family_members
print("siblings:", a,b,c,d,e,f)
print("parents:", rest)

# 2. Create fruits, vegetables and animal products tuples. Join the three tuples and assign it to a variable called food_stuff_tp.
fruits = ('orange', 'mango', 'banana', 'apple')
vegetables = ('spinnach', 'carrot', 'lettuce', 'cabbage')
animal_products = ('meat', 'milk', 'fertilizer')

# joining the three tuples.
food_stuff_tp = fruits + vegetables + animal_products
print(food_stuff_tp)

# 3. Change the about food_stuff_tp tuple to a food_stuff_lt list
food_stuff_lt = list(food_stuff_tp)
print(food_stuff_lt)

# 4. Slice out the middle item or items from the food_stuff_tp tuple or food_stuff_lt list.
middle_index = len(food_stuff_lt) // 2 
if middle_index % 2 == 0:    # even number of food stuff
    print(food_stuff_lt[middle_index])
else :
    print(food_stuff_lt[middle_index:middle_index+1]) # odd number of

# 5. Slice out the first three items and the last three items from food_staff_lt list
first_three_items = food_stuff_lt [:3]
last_three_items = food_stuff_lt [-3:]
print(first_three_items)
print(last_three_items)

# 6. Delete the food_stuff_tp tuple completely
del food_stuff_tp  # this delete the food-stuff_tp completely

# 7. Check if an item exists in tuple:
nordic_countries = ('Denmark', 'Finland','Iceland', 'Norway', 'Sweden')
# Check if 'Estonia' is a nordic country
check_for_Estonia = 'Estonia' in nordic_countries
check_for_Iceland = 'Iceland' in nordic_countries
print(check_for_Estonia)
print(check_for_Iceland)

##  Sets Exercises
Sets Exercises Level: 1

In [ ]:
# sets
# it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
# A = {19, 22, 24, 20, 25, 26}
# B = {19, 22, 20, 25, 26, 24, 28, 27}
# age = [22, 19, 24, 25, 26, 24, 25, 24]

# 1. Find the length of the set it_companies
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
len(it_companies)

# 2. Add 'Twitter' to it_companies
it_companies.add('Twitter',)
print(it_companies)

# 3. Insert multiple IT companies at once to the set it_companies
it_companies.update(['whatsapp', 'Linkedin', 'medium blog'])
print(it_companies)

# 4. Remove one of the companies from the set it_companies
it_companies.remove('Google')
print(it_companies)

# 5. What is the difference between remove and discard
# both remove and discard remove an element from a set, the remove raised an error if the element isn't in the list, while the discard will not raise an error even if the element is not found in the set

## Set Exercises: Level 2

In [ ]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

# 1. Join A and B
A_join_B = A.union(B)
print(A_join_B)

# 2. Find A intersection B
A_intersection_B = A.intersection(B)
print(A_intersection_B)

# 3. Is A subset of B
A_subset_B = A.issubset(B)
print(A_subset_B)

# 4. Are A and B disjoint sets
A_disjoin_B = A.isdisjoint(B)
print(A_disjoin_B)

# 5. Join A with B and B with A
A_union_B = A.union(B)
B_union_A = B.union(A)
print(A_union_B)
print(B_union_A)

# 6. What is the symmetric difference between A and B
A_symmetric_difference_B = A.symmetric_difference(B)
print(A_symmetric_difference_B)

# 7. Delete the sets completely
del A,     # Delete set A
del B      # Delete set B

## Sets Exercises: Level 3

In [80]:
age = [22, 19, 24, 25, 26, 24, 25, 24]

# 1. Convert the ages to a set and compare the length of the list and the set, which one is bigger?
st = set(age)
print(st)
length_of_list = len(age)
print(length_of_list)
length_of_set = len(st)
print(length_of_set)

{19, 22, 24, 25, 26}
8
5

### 2. Explain the difference between the following data types: string, list, tuple and set
1. **string**: Text is a string data type. Any data type written as text is a string. Any data under single, double or triple quote are strings.
2. **list**: A list is collection of different data types which is ordered and modifiable(mutable). A list can be empty or it may have different data type items.
3. **tuple**: Tuple: is a collection which is ordered and unchangeable or unmodifiable(immutable). 
4. **set**: Set is a collection of items. Set is a collection of unordered and un-indexed distinct elements.

3. I am a teacher and I love to inspire and teach people. How many unique words have been used in the sentence? Use the split methods and set to get the unique words.

In [ ]:
the_sentence = 'I am a teacher and I love to inspire and teach people.'
split_sentence = the_sentence.split()           # split the sentence into words
print(split_sentence)

unique_words = set(split_sentence)      # removing duplicate words
print(unique_words)

amount_of_unique_words = len(unique_words)  # cpunt the unique words
print(amount_of_unique_words)

['I', 'am', 'a', 'teacher', 'and', 'I', 'love', 'to', 'inspire', 'and', 'teach', 'people.']
{'to', 'I', 'a', 'teach', 'people.', 'inspire', 'am', 'and', 'love', 'teacher'}
10